/* body{
    margin: 0px;
    position: relative;
}

#ball{
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    position: fixed;
    left: 10px;
    top: 30px;
} */

/* The third method is the use of canvas */

body{
    margin: 0px;
}

canvas{
    background-color: white;
}